[submodule "android/jni/cairo"]
        path = android/jni/cairo
        url = git://git.cairographics.org/git/cairo
[submodule "android/jni/pixman"]
        path = android/jni/pixman
        url = git://git.cairographics.org/git/pixman.git
[submodule "android/jni/libpng"]
        path = android/jni/libpng
        url = git://libpng.git.sourceforge.net/gitroot/libpng/libpng
[submodule "android/jni/freetype2"]
        path = android/jni/freetype2
        url = git://git.sv.gnu.org/freetype/freetype2.git
[submodule "android/jni/cairogles"]
	path = android/jni/cairogles
	url = git@github.com:SRA-SiliconValley/cairogles.git
